.panel{
    background-color: #222;
    border:0px;
}
.a{
    color:aqua;
    
}
.list-group{
    color:aqua;
}  
.list-group-item{
    background-color:#222;
    color:aqua;
    
}

label{
    color:#b2b2b2;
}
label:hover{
    color: aqua;
}
body{
    background-color: #b2b2b2;
}
.jumbotron{
    background-color: #222;
    color:aqua;
    
}
.navbar-inverse .navbar-brand:hover
{
    color:aqua;
}
.navbar-inverse .navbar-nav>li>a:hover
{
    color:aqua;
}
.thumbnail{
    background-color: #222;
    border: 0px;
}
.btn{
    background-color: #1ab188;
    border:0px;
    color:#222;
}
.btn:hover{
    background-color: aqua;
    color:#222;
}
h3{
    color:#b2b2b2;
}
h3:hover{
    color:aqua;
}